.select-optgroup {
    background-color: #9494943a;
    border-radius: var(--border-radius-sm);
    border: 1px solid #78787834;
    outline: none;
    padding: 0px 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: var(--font-weight-xs);
    letter-spacing: .5px;
    max-width: 60%;
}