.clock {
    color: #FFF;
    max-width: fit-content;
    text-align: center;
    animation: fadeIn .6s ease-in-out forwards;

    .clock-digital {
        display: flex;
        font-size: 8em;
        display: flex;
        align-items: baseline;

        .seconds {
            font-size: 0.5em;
        }

        .meridiem {
            font-size: 34px;
            margin-left: 4px;
        }
    }

    .clock-date {
        font-size: 16px;
        line-height: 1.6em;
    }

}