.clock {
    color: #FFF;
    margin-top: 20px;
    text-align: center;
    display: flex;
    font-size: 6.5rem;

    .clock-wrapper {
        min-width: 250px;
    }

    .clock-digital {
        align-items: baseline;
        font-weight: var(--font-weight-sm);
        justify-content: center;
        position: relative;

        .seconds {
            display: none;
            width: 2ch;
        }

        .meridiem {
            font-size: .22em;
            margin-left: 4px;
            font-weight: var(--font-weight-sm);
            text-transform: lowercase;
        }
    }

    .clock-date {
        font-size: 0.18em;
        line-height: 1.6em;
        font-weight: var(--font-weight-sm);
        text-align: center;
    }

}