.prayer-time {
    color: #FFFFFF;
    transition: max-height .3s;
    max-height: 360px;
    position: relative;
    visibility: visible;

    .fade-in {
        animation: fadeIn .4s ease-in-out forwards;
    }

    &.hidden {
        visibility: hidden;
        max-height: 0px;
        overflow: hidden;
    }

    .hijri-date {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 42px;
        font-weight: var(--font-weight-sm);
        text-align: center;
    }

    .times {
        display: flex;
        justify-content: center;
        background: transparent;
        gap: 1.5vw;
        flex-wrap: wrap;
        min-height: 8.1rem;
    }

    & .__pad {
        width: 98px;
        height: 98px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 10px;
        border: 1px solid #7878784c;
        backdrop-filter: blur(30px);
        box-shadow: #0000003e 0 3px 8px;
        background-color: #c7c7c738;
        position: relative;
        animation: fadeIn .4s ease-in-out forwards;

        &.active {
            background: #3378ff6b;
            border: 1px solid #008eec;
            font-weight: var(--font-weight-sm);
        }

        .notify-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 5px;
            right: 7px;
            cursor: pointer;
            color: #eaeaea;

            &.on {
                color: rgb(255, 213, 0);
            }
        }

        & .adhan-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 5px;
            left: 7px;
            cursor: pointer;
            color: #eaeaea;

            &.on {
                color: rgb(255, 213, 0);
            }
        }

        & .pad-btnstop {
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 9px;
            width: 100%;
            padding: 10px 0px;
            position: absolute;
            top: -42px;
            backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);
            /* Add this */
            background: #3378ff6b;
            border: 1px solid #008eec;
            z-index: 10;
            letter-spacing: 2px;
            font-weight: 400;
            animation: var(--animate-smart-blink);
            cursor: pointer;

            &:hover {
                animation: unset;
                background: #3377ffb6;
            }
        }

        & .pad-icon {
            width: 100%;
            margin-left: 4px;
        }

        & .pad-time {
            font-size: 22px;

            & .time-meridiem {
                font-size: 14px;
                margin-left: -4px;
            }
        }

        & .pad-name {
            font-size: 14px;
        }
    }
}