.search-location {
    .search {
        background-color: #eef8fb;
        height: 40px;
        border-radius: 14px 14px 0px 0px;
        font-size: 16px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-color: rgb(225, 225, 225);
        border-style: solid;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        color: #757575;
        width: 93%;
        margin: 0 auto;

        &:focus {
            outline: none;
        }

        &.empty-data {
            border-radius: 14px;
            border-bottom: 0px;
        }
    }

    .location {
        display: flex;
        flex-direction: column;
        color: #757575;

        .option {
            cursor: pointer;
            padding: 10px 12px;
            font-size: 14px;

            &:hover {
                background-color: #f3f3f3b0;
                border-radius: 0px 0px 12px 12px;

            }
        }
    }
}