.weather {
    margin-top: 20px;
    line-height: 1.5em;
    color: #FFFFFF;
    animation: fadeIn .6s ease-in-out forwards;

    .temperature {
        display: flex;
        align-items: baseline;
        gap: 6px;
        font-size: 18px;
    }

    .location {
        font-size: 15px;
        margin-top: 5px;
    }

    .loading {
        object-fit: contain;
        display: flex;
        max-width: 18rem;
        min-height: 6em;
        justify-content: center;
        align-items: center;
    }
}