.weather {
    margin-top: 20px;
    line-height: 1.5em;
    color: #FFFFFF;
    animation: fadeIn .4s ease-in-out forwards;
    min-height: 5rem;
    max-width: 18rem;

    display: flex;
    gap: 10px;

    .icon {
        width: 34px;
        height: 34px;
    }

    .weather-wrap {

        .weather-temp {
            display: flex;
            align-items: baseline;
            gap: 6px;
            font-size: 17px;
        }

        .weather-address {
            font-size: 15px;
            margin-top: 5px;
            text-transform: capitalize;
        }
    }

}

.loading {
    object-fit: contain;
    text-align: center;
    object-fit: contain;
    display: flex;
    max-width: 18rem;
    min-height: 6em;
    justify-content: center;
    align-items: center;
}