.settings {
    position: relative;

    & .button {
        position: absolute;
        right: 0;
        cursor: pointer;
        transition: transform .4s, opacity .4s;

        &:hover {
            transform: rotate(45deg);
        }

        & .icon {
            width: 42px;
        }
    }
}