.container {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    min-height: 100dvh;
    grid-template: 'header' 'content' 'footer';
    /* padding-bottom: 18px; */

    .header {
        padding-top: 40px;
        position: relative;

        /* display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw; */
    }

    .content {
        padding-top: 0px;
    }

    .footer {
        padding-bottom: 30px;
    }
}