.fly-date {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 9.8rem;

    .date {
        margin: auto;
        margin-top: -8px;
        margin-bottom: -60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #eef8fb;
        box-shadow: 0px 0px 10px #e6e6e6c2;
        width: 252px;
        height: 65px;
        border-radius: 100px;
        text-align: center;
        gap: 2px;

        .hijri {
            font-size: 16px;
            color: #1E1E1E;
        }

        .geor {
            font-size: 12px;
            color: #969696;
        }
    }
}

.header {
    background-color: #3cd2fff2;
    padding: 27px 34px;
    border-radius: 0px 0px 60px 60px;
    position: relative;
    overflow: hidden;

    .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header-upcoming {
        display: flex;
        justify-content: space-between;

        .upcoming {
            small {
                color: #fcff00;
                margin-bottom: 4px;
                display: block;
                font-size: 16px;
                font-weight: bold;
                text-shadow: 1px 1px 1px #ff0000;
            }

            .weather {
                margin-left: 2px;
                font-size: 16px;
                display: flex;
                align-items: baseline;
                gap: 6px;
            }

            .time {
                font-family: "Inconsolata", monospace;
                font-size: 32px;
                font-weight: 700;
                display: flex;
                gap: 10px;

                span {
                    font-weight: 300;
                }
            }

            >span {
                color: #757575;
                font-weight: 500;
                margin-top: 8px;
                display: flex;
                gap: 4px;
                justify-items: center;
                font-family: "Inconsolata", monospace;
            }
        }

        .location {
            text-align: end;

            .icon {
                cursor: pointer;
            }

            .search {
                &:focus {
                    outline: 1px solid #5ab4cf;
                    border-radius: 12px;
                    padding: 4px 6px;
                }
            }

            .city {
                font-size: 18px;
                margin-bottom: 4px;
                ;
            }

            .country {
                font-size: 16px;
            }
        }
    }

    .calculation-method {
        text-align: end;
        font-size: 12px;
        display: flex;
        justify-items: center;
        justify-content: end;
        margin-top: 16px;
        cursor: pointer;

        select {
            color: #2F3744;
            text-shadow: none;
            background: transparent;
            border: 0px;
            cursor: pointer;
            max-width: 250px;

            &:focus {
                outline: none;
            }
        }

        >div:nth-child(1) {
            padding-top: 2.5px;
        }
    }

    .settings {
        margin-top: -10px;
        cursor: pointer;

        img {
            transition: transform 0.3s ease-in-out;
        }

        img:hover {
            transform: rotate(90deg);
        }
    }
}

.body {
    margin: 40px 12px 0px 12px;
    margin: 40px 12px 0px 12px;
    background-color: #eef8fb;
    border-radius: 14px;
    padding: 17px 14px;
    box-shadow: 0px 0px 10px #ebebebf2;

    .table-header {
        margin-bottom: 14px;

        .table-tr {
            display: flex;
            gap: 140px;
            padding-left: 14px;
            font-size: 14px;
        }
    }

    .table-body {
        .table-tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 10px;
            font-size: 14px;

            .tr-prayer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 220px;
            }

            &.active {
                color: #2F3744;
                background-color: #00c4ff96;
                border-radius: 100px;
                font-weight: bold;
                font-size: 15px;

                .table-td {
                    color: #005e7a;

                    &.pray-icon {
                        >img {
                            filter: brightness(0.4);
                        }
                    }

                    &.notify-icon {
                        &:hover {
                            background-color: #5ab4cf;
                        }
                    }

                }
            }
        }

        .table-td {
            color: #969696;

            &.icon {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;

                >img {
                    width: 24px;
                }
            }

            &.notify-icon {
                cursor: pointer;
                padding: 2px;

                &:hover {
                    background-color: #ebebeb;
                    border-radius: 100px;
                }
            }
        }
    }

}