.header {
    background-color: #3CD2FF;
    padding: 31px 34px;
    border-radius: 0px 0px 60px 60px;

    .header-upcoming {
        display: flex;
        justify-content: space-between;

        .upcoming {
            .prayer {
                font-size: 26px;
            }

            .time {
                font-family: "Inconsolata", monospace;
                font-size: 34px;
                font-weight: 700;
                display: flex;
                gap: 10px;

                span {
                    font-weight: 300;
                }
            }

            >span {
                color: #757575;
                font-weight: 500;
                margin-top: 8px;
                display: flex;
                gap: 4px;
                justify-items: center;
                font-family: "Inconsolata", monospace;
            }
        }

        .location {
            text-align: end;

            .icon {
                cursor: pointer;
            }

            .city {
                font-size: 18px;
                margin-bottom: 4px;
                ;
            }

            .country {
                font-size: 16px;
            }
        }
    }

    .calculation-method {
        text-align: end;
        font-size: 10px;
        display: flex;
        justify-items: center;
        justify-content: end;
        margin-top: 16px;
        cursor: pointer;

        >div:nth-child(1) {
            padding-top: 2.5px;
        }
    }

    .settings {
        margin-top: -10px;
        cursor: pointer;

        img {
            transition: transform 0.3s ease-in-out;
        }

        img:hover {
            transform: rotate(90deg);
        }
    }

    .date {
        margin: auto;
        margin-top: 8px;
        margin-bottom: -60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #F6F6F6;
        max-width: 252px;
        height: 65px;
        border-radius: 100px;
        text-align: center;
        gap: 2px;

        .hijri {
            font-size: 16px;
            color: #1E1E1E;
        }

        .geor {
            font-size: 12px;
            color: #969696;
        }
    }
}

.body {
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    padding: 17px 14px;

    .table-header {
        margin-bottom: 14px;

        .table-tr {
            display: flex;
            gap: 140px;
            padding-left: 14px;
            font-size: 14px;
        }
    }

    .table-body {
        .table-tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 10px;
            font-size: 14px;

            &.active {
                color: #2F3744;
                background-color: #3CD2FF;
                border-radius: 100px;

                .table-td {
                    color: #1E1E1E;

                    &.pray-icon {
                        >img {
                            filter: brightness(0.4);
                        }
                    }

                    &.notify-icon {
                        &:hover {
                            background-color: #5ab4cf;
                        }
                    }

                }
            }
        }

        .table-td {
            color: #969696;

            &.icon {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;

                >img {
                    width: 24px;
                }
            }

            &.notify-icon {
                cursor: pointer;
                padding: 2px;

                &:hover {
                    background-color: #ebebeb;
                    border-radius: 100px;
                }
            }
        }
    }

}