/* @import url('https://fonts.googleapis.com/css2?family=Capriola&family=Inconsolata:wght@200..900&display=swap'); */

:root {
    --font-family: -apple-system, system-ui, Ubuntu, Roboto, "Open Sans", "Segoe UI", "Helvetica Neue";
    --text-shadow-sm: 0.2;
    --font-weight-xs: 200;
    --font-weight-sm: 300;
    --font-weight-md: 400;
    --font-weight-lg: 500;
    --border-radius-sm: 8px;
    --border-radius-md: 10px;
    --bg-blur: 5px;
    --bg-brightness: .9;
    --out-transition: cubic-bezier(.210, .61, .350, 1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hidden {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    /* atau bisa pakai warna lain */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(72, 72, 72);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(56, 56, 56) transparent;
    /* thumb color | track color */
}

html {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #1f1f1f;

    &::-webkit-scrollbar {
        display: none;
    }

    body {
        margin: 0 auto;
        text-shadow: 1px 2px 6px rgba(0, 0, 0, var(--text-shadow-sm));
        font-family: var(--font-family) !important;
        font-weight: var(--font-weight-sm);
    }

    .dropshow {
        max-height: 460px;
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        margin-top: 0px;
        transition: all .3s, opacity .2s;

        &.hidden {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            margin-top: -6px;
            transition: all .3s, opacity .3s;
        }
    }

    .form-items {
        max-width: 172px;
        min-width: 172px;
        height: 30px;
        padding-inline: 12px;
        font-weight: var(--font-weight-md);
        box-sizing: border-box;
    }

    .notify-error {
        color: #ff534b;
        font-size: 13px;
        font-weight: var(--font-weight-md);
        display: none;

        >.show {
            display: inherit;
        }
    }

    .loading {
        cursor: progress;
    }

}