/* @import url('https://fonts.googleapis.com/css2?family=Capriola&family=Inconsolata:wght@200..900&display=swap'); */

:root {
    --font-family: -apple-system, system-ui, Ubuntu, Roboto, "Open Sans", "Segoe UI", "Helvetica Neue";
    --text-shadow-sm: 0.2;
    --font-weight-xs: 200;
    --font-weight-sm: 300;
    --bg-image: url("/assets/images/bg1.png");
    --bg-blur: 5px;
    --bg-brightness: 0.7;
    --out-transition: cubic-bezier(.210, .61, .350, 1);
}

html {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    color: #2F3744;
    overflow: hidden;

    body {
        margin: 0 auto;
        text-shadow: 1px 2px 6px rgba(0, 0, 0, var(--text-shadow-sm));
        font-family: var(--font-family);
        font-weight: var(--font-weight-xs);
        color: #FFFFFF;
    }
}