.notes {
    margin-top: 3vw;
    min-width: 50%;
    max-width: 80%;
    justify-self: center;

    [data-pocket-editor] {
        border-radius: 10px;
        backdrop-filter: blur(50px);
        box-shadow: #0000003e 0 3px 8px;
        background-color: #44444441;
        color: aliceblue;

        div,
        p {
            font-size: 18px;

            font-weight: var(--font-weight-sm);
        }

        & [data-selected] {
            /* background-color: rgba(229, 229, 229, 0.506);
            border-radius: 6px; */
            color: aliceblue;
            background: #3378ff6b;
            border: 1px solid #008eec;
        }
    }

}