.select-option {
    background-color: #3f3f3f;
    border-radius: var(--border-radius-sm);
    border: 1px solid #78787834;
    outline: none;
    padding: 0px 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: var(--font-weight-xs);
    letter-spacing: .5px;

    option {
        background-color: #3f3f3f;
    }
}