.settings {
    z-index: 1;
    position: fixed;

    .gear {

        position: fixed;
        left: 50px;
        bottom: 35px;
        z-index: 1;

        .gear-icon {
            background-color: #afafaf2f;
            border: 1px solid rgba(255, 255, 255, .075);
            backdrop-filter: blur(15px);
            padding: 10px;
            border-radius: var(--border-radius-md);
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                background-color: #878787a1;

                >img {
                    transform: rotate(25deg);
                }
            }

            >img {
                transition: .2s ease-in-out;
                width: 28px;

                &.opened {
                    transform: rotate(65deg);
                }
            }
        }
    }

    .wrapper {
        z-index: 0;
        background-color: rgb(24, 24, 24);
        position: fixed;
        left: 0;
        bottom: 0;
        height: 68%;
        width: 400px;
        border-radius: 0px var(--border-radius-md) 0px 0px;
        transform: translateX(-100%);
        transition: .2s ease-in-out;
        padding: 24px;

        &.opened {
            transform: translateX(0%);
        }

        .settings-title {
            margin-right: 10px;
            font-size: 12px;
            font-family: var(--font-family);
            font-weight: var(--font-weight-sm);
            color: rgb(164, 164, 164);
            letter-spacing: 1.5px;
            margin-bottom: 12px;
            text-align: end;
        }

        .settings-items {
            backdrop-filter: blur(50px);
            background-color: #4a4a4a41;
            border-radius: var(--border-radius-md);
            border: 1px solid #78787834;
            min-height: 34px;
            padding: 14px 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            margin-top: 10px;

            hr {
                width: 100%;
                border: none;
                border-bottom: 1px solid #78787834;

            }

            .items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #FFF;
                font-family: var(--font-family);
                font-weight: var(--font-weight-sm);

                .items-title {
                    font-size: 15px;
                }
            }
        }
    }
}