.settings {
    z-index: 9;
    position: fixed;

    select,
    input,
    option {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .gear {

        position: fixed;
        left: 50px;
        bottom: 35px;
        z-index: 1;

        .gear-icon {
            background-color: #afafaf2f;
            border: 1px solid rgba(255, 255, 255, .075);
            backdrop-filter: blur(15px);
            padding: 10px;
            border-radius: var(--border-radius-md);
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                background-color: #ffffff31;

                >.icon {
                    transform: rotate(25deg);
                }
            }

            >.icon {
                transition: .2s ease-in-out;
                cursor: pointer;
                width: 28px;
                height: 28px;

                &.opened {
                    transform: rotate(65deg);
                }
            }
        }
    }

    .wrapper {
        z-index: 0;
        background-color: rgb(24, 24, 24);
        position: fixed;
        left: 6px;
        bottom: 0;
        max-height: 50%;
        width: 340px;
        border-radius: var(--border-radius-md) var(--border-radius-md) 0px 0px;
        transform: translateY(100%);
        transition: .2s ease-in-out;
        padding: 0px 16px 7rem 18px;
        overflow-y: scroll;

        &.opened {
            transform: translateX(0%);
        }

        .settings-title {
            margin-top: 2em;
            margin-left: 2.5em;
            font-size: 12px;
            font-family: var(--font-family);
            font-weight: var(--font-weight-sm);
            color: rgb(164, 164, 164);
            letter-spacing: 1.5px;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .settings-items {
            backdrop-filter: blur(50px);
            background-color: #4a4a4a41;
            border-radius: var(--border-radius-md);
            border: 1px solid #78787834;
            min-height: 34px;
            padding: 14px 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            margin-top: 10px;

            hr {
                width: 100%;
                border: none;
                border-bottom: 1px solid #78787834;

            }

            .items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #FFF;
                font-family: var(--font-family);
                font-weight: var(--font-weight-sm);
                padding: 1px 0px;

                .items-title {
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .items-content {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }
}